doctype html
html(lang="en")
    head
        title login
    body
        form(action='/login',method='post')
            | username:
            input(type='text',name='username')
            | password:
            input(type='text',name='password') 
            input(type='submit',value='submit')